<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pj_hci_v2">

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PJ_HCI_v2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PJ_HCI_v2">
        <activity
            android:name=".Login_Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Google_Sign_In"
            android:exported="true">

        </activity>
        <activity
            android:name=".Home_Page"
            android:exported="true">

        </activity>
        <activity
            android:name=".Confirm_Password_Reset_Page"
            android:exported="true">

        </activity>
        <activity
            android:name=".Forgot_Password_Page"
            android:exported="true">

        </activity>

        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Freelancer_P8"
            android:exported="false" />
        <activity
            android:name=".Freelancer_P7"
            android:exported="false" />
        <activity
            android:name=".Freelancer_P6"
            android:exported="false" />
        <activity
            android:name=".Freelancer_P5"
            android:exported="false" />
        <activity
            android:name=".Freelancer_P4"

            android:exported="false" />
        <activity
            android:name=".Freelancer_P3"
            android:exported="false" />
        <activity
            android:name=".FreelancerMainActivity"
            android:exported="false" />
        <activity
            android:name=".Freelancer_P2"
            android:exported="false" />
        <activity
            android:name=".Freelancer_P1"
            android:exported="false" />

        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".MainMatDo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

    </application>

</manifest>